<h1> INDEX PAGE </h1>

<% @searches.each do |search| %> <!-- stuff between the begining and ending marks is embeded ruby code this also created a block (think java methods) The @search.each do |search| is basically a loop which allow us go throuh every search which has been retrived from the database by the instance variable @searches-->
	
	<hr /><!--Html code which creates a lin divider-->
	
	<h2><%=link_to search.name, search%></h2> <!-- the = at the begining indicates that the output of any embeded ruby executed within will be outputed to the webpage.-->
	
	<p><%= link_to "Delete", search,:method => :delete %></p>

<% end %>

